<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kumailn.calculator">

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- -Icons made by (http://www.flaticon.com/authors/roundicons) Roundicons from flaticon, www.flaticon.com is licensed by Creative Commons BY 3.0 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"></activity>
    </application>

</manifest>